/* About.css */

.about-container {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .about-header {
    font-size: 28px;
    color: #333;
    text-align: center;
  }
  
  .about-content {
    font-size: 66px;
    line-height: 1.6;
    color: #020000;
  }
  
 
  .about-content a {
    color: #007bff; /* Set link color to a standard blue */
    text-decoration: underline; /* Underline links */
  }
  
  .about-content a:hover {
    color: #0056b3; /* Change link color on hover */
  }
  
 
  