.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    padding-right: 80px; 
    background-color: #0056b3;
}

.nav-link {
    color:white;
    text-decoration: none;
    margin-left: 60px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #34495e;
    transition: background-color 0.3s;
}

.nav-link:hover {
    color: rgb(5, 1, 1);
    background-color: #2980b9;
}

.nav-link:active {
    background-color: #236d93;
}